.jumbotron {
    width: 900px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

h3 {
    margin-bottom: 30px;
}

thead > tr > th {
    text-align: center;
}

.table {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 5px;
}

.negrito {
    font-weight: bold;
}